<mat-card class="mt-4 mx-4" >
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>List</mat-card-subtitle>
        <div class="row w-100">
          <div class="row justify-content-between px-5">
            <button mat-fab class="bg-primary text-white" (click)="Clear()" data-text="Reload">
              <mat-icon class="mat-18">cached</mat-icon>
            </button>
            <button mat-fab color="warn" class="text-white" (click)="Filter()" data-text="Filter">
              <mat-icon class="mat-18">filter_list</mat-icon>
            </button>
            <button mat-fab color="accent" class="text-white" (click)="Import()" data-text="Import">
              <mat-icon>file_upload</mat-icon>
            </button>
            <button mat-fab color="accent" class="text-white" (click)="Export()" data-text="Export">
              <mat-icon>get_app</mat-icon>
            </button>
            <button mat-fab color="primary" *ngIf="listName == 'product'" >
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-fab *ngIf="listName == 'product'" class="bg-info text-white">
              <mat-icon>shoping_basquet</mat-icon>
            </button>
            <button mat-mini-fab color="accent" class="text-white mt-2" [routerLink]="link">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
    </mat-card-header>
    <mat-card-content>
      <div class="container-fluid overflow-auto m-auto pb-4" >
        <app-table [columns]="columns" [fields]="fields" [listName]="listName" (scrolled)="onTableScroll($event)" [link]="link"></app-table>
      </div>
    </mat-card-content>
</mat-card>
