<form [formGroup]="form" (ngSubmit)="Form()" class="w-100">
  <div class="row">
    <div class="form-group" [ngClass]="{'col-4': formName !== 'login' && formName !== 'resetPassword' && formName !== 'newPassword' && !relation}"  *ngFor="let field of formInfo" [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="'text'">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="field.type" [placeholder]="field.placeholder" [formControlName]="field.name">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        <mat-form-field class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [matDatepicker]="picker"  [formControlName]="field.name">
          <mat-hint class="text-white">MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'time'">
        <div>
          <label for="meeting-time" class="m-0">{{field.placeholder}}</label>
          <input type="time" id="meeting-time" name="meeting-time" value="2018-06-12T19:30" min="2018-06-07T00:00"
            max="2018-06-14T00:00" style="height: 30px;" class="w-100" [formControlName]="field.name">
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'select'">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <mat-select [formControlName]="field.name">
              <mat-option *ngFor="let option of field.options" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'email'">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="field.type" [placeholder]="field.placeholder" [formControlName]="field.name">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'password'">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" [placeholder]="field.placeholder" [formControlName]="field.name">
          <button mat-button matSuffix type="button" (click)="togglePasswordVisibility()">
            {{ hidePassword ? 'Mostrar' : 'Ocultar' }}
          </button>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        <!-- <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="field.type" [placeholder]="field.placeholder" [formControlName]="field.name">
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="field.type" [placeholder]="field.placeholder" [formControlName]="field.name">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'tel'">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="field.type" [placeholder]="field.placeholder" [formControlName]="field.name">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'textarea'">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{field.label}}</mat-label>
          <textarea matInput [placeholder]="field.placeholder" [formControlName]="field.name"></textarea>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'checkbox'">
        <mat-slide-toggle class="mt-3 mb-4" [formControlName]="field.name">{{field.label}}</mat-slide-toggle>

      </ng-container>
      <ng-container *ngSwitchCase="'button'">
        <button mat-raised-button color="primary" class="mt-2 mb-2" type="button"(click)="Relations(field.name)">
          {{field.label}}
        </button>
      </ng-container>
      <mat-error *ngIf="form.get(field.name)?.invalid && (form.get(field.name)?.touched || service.submit())" class="text-danger pb-4">
        <span *ngIf="form.get(field.name)?.hasError('required')">Campo requerido</span>
        <span *ngIf="form.get(field.name)?.hasError('pattern')">{{ field.pattern }}</span>
        <span *ngIf="form.get(field.name)?.hasError('minlength')">Mínimo {{ field.minlength }} caracteres</span>
        <span *ngIf="form.get(field.name)?.hasError('maxlength')">Máximo {{ field.maxlength }} caracteres</span>
        <span *ngIf="form.get(field.name)?.hasError('email')">Email inválido</span>
      </mat-error>
    </div>
  </div>
  <div *ngIf="!service.addUpdate()">
    <div class="row justify-content-center">
      <button type="submit" mat-raised-button class="mb-3 mt-3 col-3 bg-primary">
        {{ btn }}
      </button>
    </div>
  </div>

  <div *ngIf="service.addUpdate()">
    <div class="row justify-content-center">
      <button mat-raised-button disabled class="col-4 bg-info mb-3 mt-3">
          <span class="spinner-grow spinner-grow-sm c-black"  role="status" aria-hidden="true"></span>
          <span class="spinner-grow spinner-grow-sm aria-hidden c-black"></span>
          <span class="c-black">loading...</span>
      </button>
    </div>
  </div>
</form>
